.react-calendar {
  width: 100vw;
  .react-calendar__navigation {
    position: relative;
    .react-calendar__navigation__prev2-button,
    .react-calendar__navigation__next2-button {
      display: none;
    }
    .react-calendar__navigation__next-button,
    .react-calendar__navigation__prev-button {
      border: 1px black solid;
      border-radius: 15px;
      position: absolute;
      width: 44px;
      height: 44px;
    }
    .react-calendar__navigation__prev-button {
      right: 54px;
    }
    .react-calendar__navigation__next-button {
      right: 0px;
    }

    .react-calendar__navigation__label {
      font-size: 20px;
      height: 44px;
      position: absolute;
      text-transform: capitalize;
      left: 15px;
    }
  }

  .react-calendar__tile {
    height: 48px;
    width: 48px;
  }

  .react-calendar__tile--now {
    border-radius: 0px !important;
    color: black !important;
  }

  .react-calendar__month-view__weekdays__weekday {
    font-size: 16px;
    color: black;
  }

  .react-calendar__tile--active {
    border-radius: 9999px;
    color: white;
  }

  .react-calendar__tile,
  .react-calendar__month-view__days__day {
    font-size: 18px;
  }
}
