.HorizontalCalendar {
    font-family: "Rubik", sans-serif;
}

.dark .HorizontalCalendar .Er .jb {
    color: white !important;
}

.HorizontalCalendar .Er .Tx {
    margin: 0;
}

.HorizontalCalendar .Kq.WP svg,
.HorizontalCalendar .Kq.Ez svg {
    fill: #000000;
}

.SelectedDay {
    background: #2f2f3826 !important;
}

.DayItem {
    font-family: "Rubik", sans-serif !important;
    gap: 15px;
}

.DayLabel {
    color: #00000040 !important;
    margin: 0 !important;
    font-size: 16px !important;
    text-transform: uppercase !important;
}

.dark .DayLabel {
    color: #fff !important;
}

.DateLabel {
    /* font-family: "Rubik", sans-serif; */
    background-color: transparent !important;
    font-size: 20px !important;
    font-weight: 400 !important;
}

.WeekendItem .DayLabel {
    color: #f93e3e !important;
}

.WeekendItem.SelectedDay .DateLabel {
    color: #f93e3e !important;
}

.SelectedDay .DateLabel {
    color: #000000 !important;
}

.dark .SelectedDay {
    background: #ffffff26 !important;
}

.dark .RangeDays {
    background: #ffffff26 !important;
}

.dark .DateLabel {
    color: #ffffff !important;
}

.dark .SelectedDay .DateLabel {
    color: #0490c3 !important;
}

/* Mobile */
@media (max-width: 700px) {
    .HorizontalCalendar .DayItem {
        min-height: 46px !important;
        min-width: 28px !important;
        gap: 4px;
    }
    .HorizontalCalendar .DayItem .DayLabel {
        font-size: 14px !important;
    }
    .HorizontalCalendar .DayItem .DateLabel {
        font-size: 16px !important;
    }

    .HorizontalCalendar .Kq.WP,
    .HorizontalCalendar .Kq.Ez {
        padding: 0;
        display: none;
    }

    .HorizontalCalendar .Kq.Ez::after {
        background: linear-gradient(90deg, #fff, hsla(0deg, 0%, 100%, 0.95), hsla(0deg, 0%, 100%, 0.5));
        left: calc(1.5rem + 1px);
        width: 30px;
    }

    .HorizontalCalendar .Kq.WP::after {
        right: calc(1.5rem + 1px);
        width: 30px;
    }
}
