#SelectSectorCompoment {
  position: relative;
  .LocationInfo {
    span {
      font-size: 1.2rem;
    }
  }
  .SvgTools {
    position: absolute;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    bottom: -2.5rem;
    right: 1rem;
    gap: 10px;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 10px #00000029;
      font-size: 2rem;
      padding: 0;
      line-height: 1;
      height: 2rem;
      width: 2rem;
    }
    // justify-content: space-between;
  }
  .SvgWrapper {
    border-radius: 8px;
    padding: 1rem 0;
    width: 100%;
    margin-bottom: 3rem;
    border: 1px solid #d9d9d9;
  }
}

@media (max-width: 576px) {
  #SelectSectorCompoment {
    .LocationInfo {
      span {
        font-size: 1rem;
      }
    }
    .SvgTools {
      position: absolute;
      z-index: 9999;
      display: flex;
      flex-direction: row;
      bottom: -0.5rem;
      right: 1rem;
      gap: 10px;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px #00000029;
        font-size: 2rem;
        padding: 0;
        line-height: 1;
        height: 2rem;
        width: 2rem;
      }
    }
    .SvgWrapper {
      border-radius: 8px;
      padding: 0;
      margin: 0 0 2rem 0;
      width: 100%;
      border: 1px solid #d9d9d9;
    }
  }
}
