.file-upload {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    -webkit-touch-callout: none; /* Disable callout, like long-pressing on a link to show a menu in Safari */
}
