@keyframes progress {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.notification-bar {
    height: 4px;
    background-color: white;
    animation: progress 3s linear;
}

.react-tel-input .form-control {
    width: 100%;
}
